div.month {
    width: 16rem;
    min-height: 10rem;
    background-color:papayawhip;
}

div.month > fieldset {
    min-height: 10rem;
}
div.month  div.dager,
div.month  div.ukedager {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
div.month  div.dager > span {
    display: inline-block;
    text-align: right;
    width: 20px;
}
div.month  div.ukedager > span {
    display: inline-block;
    padding-left:2px;
}
