div.month {
    width: 16rem;
<<<<<<< HEAD
    margin: 0.2rem;
}

div.month  legend {
    color: blue;
    font-size: 1.2rem;
    text-align: center;
=======
    min-height: 10rem;
    background-color:whitesmoke;
    margin:0.5rem;
>>>>>>> 1873ccf53ccdddbe08e6f505df46a2d6669d5761
}

div.month > fieldset {
    min-height: 9rem;
    border: green 2px solid;
}

div.month  div.dager,
div.month  div.ukedager {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
div.month  div.ukedager > span {
    color:darkolivegreen;
}
div.month  div.dager > span {
    display: inline-block;
    text-align: right;
    width: 20px;
}
div.month  div.dager > span:nth-child(7n) {
   color:red;
}

#kalender {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

span.special {
    text-shadow: 0 0 5px yellow;
}
