#bilder {
  position: relative;
}

#bilder > div {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("media/b1.jpg");
  width: 200px;
  height: 150px;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
}

#bilder > div.ontop {
    z-index: 2;
}

#bilder > div.animert {
  animation: centerstage 3s linear, centerstage 3s 3s linear reverse;
}

@keyframes centerstage {
  50% {
    left: 500px;
    top: 200px;
  }
  100% {
    left: 500px;
    top: 200px;
    transform: scale(2);
  }
}
