#liste {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 800px;
   
}

#liste > div {
    font-size:1.5rem;
    padding: 4px;
    text-align: right;
}

h1 {
    width: 800px;
    text-align: center;
    color: blue;
}