#generator {
    position: relative;
    width: 600px;
    height: 500px;
}

#tower,#propell,#hus,#tree {
    position: absolute;
}

#tower {
  left: 200px;
  bottom: 20px;
  width: 30px;
  height: 200px;
  background-color: gainsboro;
}

#center {
    position: absolute;
    left:90px;
    top:75px;
    width:2px;
    height: 2px;
    border-radius: 50%;
    background-color: red;
}
#propell {
    left: 130px;
    bottom: 135px;
    width: 180px;
    height: 150px;
    background-image: url("propell.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 12px;
    transform-origin: 90px 75px;
}
#hus {
    left: 500px;
    bottom: 100px;
    width: 180px;
    height: 150px;
    background-color: black;
    border:solid black 8px;
}
#tree {
    left: 760px;
    bottom: 30px;
    width: 18px;
    height: 150px;
    background-color: green;
}

@keyframes roter {
    100% { transform: rotate(1turn);}
}

#propell.svak {
    animation: roter 3s linear infinite;
}


#propell.middels {
    animation: roter 2s linear infinite;
}

#propell.sterk {
    animation: roter 0.8s linear infinite;
}


#propell.stille {
    animation: none;
}



#hus.svak {
    background-color: yellow;
}


#hus.middels {
    background-color: lightgoldenrodyellow;
}

#hus.sterk {
   background-color: white;
}


#hus.stille {
    background-color: black;
}