#generator {
    position: relative;
    width: 600px;
    height: 500px;
}

#tower,#propell,#house,#tree {
    position: absolute;
}

#tower {
  left: 200px;
  bottom: 20px;
  width: 30px;
  height: 200px;
  background-color: gainsboro;
}

#center {
    position: absolute;
    left:90px;
    top:75px;
    width:2px;
    height: 2px;
    border-radius: 50%;
    background-color: red;
}
#propell {
    left: 130px;
    bottom: 135px;
    width: 180px;
    height: 150px;
    background-image: url("propell.png");
    background-size: cover;
    background-position-x: -10px;
    background-position-y: -10px;
    animation: roter 1s linear infinite;
   transform-origin: 90px 75px;
}
#house {
    left: 500px;
    bottom: 100px;
    width: 180px;
    height: 150px;
    background-color: black;
}
#tree {
    left: 760px;
    bottom: 30px;
    width: 18px;
    height: 150px;
    background-color: green;
}

@keyframes roter {
    100% { transform: rotate(1turn);}
}