#main {
    position: relative;
    left: 20px;
    border: solid 1px gray;
    width: 400px;
    height: 400px;
}

.soyler {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 16px;
    background-color: rgba(0, 0, 255, 0.146);
}

.lett    { background-color: green; }
.middels { background-color: orange; }
.tung    { background-color: red; }