#terningboks {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width:980px;
}

#forklaring {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 950px;
}

#knapper {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 220px;
    left: 1250px;
    border: blue solid 1px;
}
