#spill {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 600px;
    height: calc(600px - 150px);
    border: green solid 1px;
    font-size: 1em;
    text-align: center;
    padding-top: 150px;
    color:green;
}

#spill.fresh {
    color: blue;
    font-size: 14em;
    transition: 0.4s;
}

#forklaring {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 650px;
}

#knapper {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 220px;
    left: 650px;
    border: blue solid 1px;
}

.dice {
  display: grid; 
  grid-template-areas: 
   "a b c"
   "d e f"
   "g h i"
  ;
  justify-self: center;
  align-items: center;
  padding:10px;
  position: relative;
  width: 100px;
  height: 100px;
  border: solid gray 1px;
  border-radius: 16px;
  margin:12px;
  box-shadow: 2px 2px 2px black;
  background-color: rgba(245, 245, 220, 0.534);
}

div.dice > div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border:solid black 1px;
    margin-left:12px;
    box-shadow: inset 2px 2px 2px black;
    opacity: 0;
}

div.dice > div:nth-child(1) {
    grid-area: a;
}
div.dice > div:nth-child(2) {
    grid-area: b;
}
div.dice > div:nth-child(3) {
    grid-area: c;
}
div.dice > div:nth-child(4) {
    grid-area: d;
}
div.dice > div:nth-child(5) {
    grid-area: e;
}
div.dice > div:nth-child(6) {
    grid-area: f;
}
div.dice > div:nth-child(7) {
    grid-area: g;
}
div.dice > div:nth-child(8) {
    grid-area: h;
}
div.dice > div:nth-child(9) {
    grid-area: i;
}

div.dice.d1 > div:nth-child(5),

div.dice.d2 > div:nth-child(1),
div.dice.d2 > div:nth-child(9),

div.dice.d3 > div:nth-child(5),
div.dice.d3 > div:nth-child(1),
div.dice.d3 > div:nth-child(9),

div.dice.d4 > div:nth-child(1),
div.dice.d4 > div:nth-child(3),
div.dice.d4 > div:nth-child(7),
div.dice.d4 > div:nth-child(9),

div.dice.d5 > div:nth-child(1),
div.dice.d5 > div:nth-child(3),
div.dice.d5 > div:nth-child(5),
div.dice.d5 > div:nth-child(7),
div.dice.d5 > div:nth-child(9),

div.dice.d6 > div:nth-child(1),
div.dice.d6 > div:nth-child(3),
div.dice.d6 > div:nth-child(4),
div.dice.d6 > div:nth-child(6),
div.dice.d6 > div:nth-child(7),
div.dice.d6 > div:nth-child(9)
{
    opacity: 1;
}
